body {
    background-color: midnightblue;
    color: whitesmoke;
    font-family: sans-serif;
    text-align: center;
}
.CodingWorldText {
    color: lightseagreen;
}
.HeadingBox {
    background-color: rgb(192, 132, 192);
    border-width: 20px;
    border-radius: 10px;
}